<app-header></app-header>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div>
    <h2>Bienvenido!</h2>

<h3>Nos Alegra Mucho Verte!</h3>

    <label for="email">Correo electrónico:</label>
    <input
      type="email"
      id="email"
      name="email"
      required
      [(ngModel)]="email"
    />
  </div>

  <div>
    <label for="password">Contraseña:</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      [(ngModel)]="password"
    />
  </div>

  <div class="terminos">
    <input
      type="checkbox"
      id="terms"
      name="terms"
      [(ngModel)]="acceptedTerms"
    />
    <label for="terms">Acepto los términos y condiciones</label>
  </div>

    <button type="submit" *ngIf="!userLoginOn" routerLink="/iniciar-sesion">Iniciar Sesión</button>
  
</form>
